<div mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Number</mat-label>
      <input formControlName="number" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>LAT</mat-label>
      <input formControlName="lat" matInput type="number" step="0.000001">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>LNG</mat-label>
      <input formControlName="lng" matInput type="number" step="0.000001">
    </mat-form-field>


    <mat-form-field appearance="fill">
      <mat-label>HEIGHT</mat-label>
      <input formControlName="height" matInput type="number" step="1">
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions class="actions">
  <button mat-button mat-dialog-close cdkFocusInitial>CLOSE</button>
  <button mat-button [mat-dialog-close]="point">SAVE</button>
</div>
