<div class="container" [ngClass]="isAsideOpened ? 'opened' : 'closed'">
  <aside>

    <button (click)="toggleAside()" class="toggle">{{isAsideOpened ? '&#8592;' : '&#8594;' }}</button>


    <ul class="buttons">
      <li class="button">
        <button (click)="addPoint()" mat-button>ADD POINT</button>
      </li>
    </ul>

    <ul class="points">
      <li *ngFor="let item of points$ | async; let i = index" class="point">
        <mat-card>
          <mat-card-header class="header">
            <mat-card-subtitle class="details">
              <span>Number: {{item.number}};</span>
              <span>Lng: {{item.lng}};</span>
              <span>Lat: {{item.lat}};</span>
              <span>Height: {{item.height}};</span>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions class="actions">
            <button (click)="openDialog(item)" mat-button>EDIT</button>
            <button (click)="deletePoint(i)" mat-button>DELETE</button>
          </mat-card-actions>
        </mat-card>
      </li>
    </ul>

  </aside>
  <main>
    <div
      (leafletMapReady)="onLeafletMapReady($event)"
      [leafletOptions]="leafletOptions"
      [ngStyle]="{'height': scrollHeight}"
      leaflet style="width: 100%">
    </div>
  </main>
</div>
