.container {
  display: grid;


  &.closed {
    grid-template-columns: 0 1fr;

    .toggle, .add-point {
      left: 8px;
    }
  }

  &.opened {
    grid-template-columns: 215px 1fr;

    .toggle, .add-point {
      left: 196px;
    }
  }

  aside {
    max-height: 100vh;
    overflow: scroll;
    background-image: url('https://img.freepik.com/premium-vector/ukraine-camouflage-mm-14-pixel-seamless-military-pattern-texture-olive-colors-abstract-masking_653528-1434.jpg?w=1380');
    background-repeat: no-repeat;
    background-size: cover;

    .toggle {
      position: absolute;
      top: 97px;
      z-index: 888;
    }

    .add-point {
      position: absolute;
      top: 143px;
      z-index: 888;
    }

    .points {
      overflow: scroll;

      .point {
        margin: 10px;

        .header {
          padding: 8px 8px 0;

          .details {
            display: flex;
            flex-direction: column;

            .data {
              font-size: 12px;
            }
          }
        }

        .actions {
          justify-content: space-evenly;

          button {
            transform: scale(0.8);
          }
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: center;
      height: 84px;

      .button {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          color: white;
        }
      }
    }
  }
}
