.container {
  display: grid;


  &.closed {
    grid-template-columns: 0 1fr;

    .toggle {
      left: 10px;
    }
  }

  &.opened {
    grid-template-columns: 215px 1fr;

    .toggle {
      left: 225px;
    }
  }

  aside {
    max-height: 100vh;
    overflow: scroll;
    background-image: url('https://images.rawpixel.com/image_1300/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjEwODgtcC0wMDA1YS14LmpwZw.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    .toggle {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 22px;
      position: absolute;
      z-index: 1000;
      background-color: #fff;
      line-height: 30px;
      top: 94px;
      width: 34px;
      height: 34px;
      border: 2px solid rgba(0, 0, 0, 0.2);
      background-clip: padding-box;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: #f4f4f4;
      }
    }

    .points {
      max-height: calc(100vh - 84px);
      overflow: scroll;

      .point {
        margin: 10px;

        .header {
          padding: 8px 8px 0;

          .details {
            display: flex;
            flex-direction: column;
          }

          .actions {
            justify-content: space-between;

            button {
              min-width: 75px;
            }
          }
        }
      }
    }

    .buttons {
      display: flex;
      justify-content: center;
      height: 84px;

      .button {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          color: white;
        }
      }
    }
  }
}
