@import "the-new-css-reset/css/reset.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.marker-icon {

  .marker {
    position: relative;
    top: -2px;
    right: 2px;
    width: 16px;
    height: 16px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
